body{
    background-color: #0e0e0e;
    font-size: small;
}
.toplink{
    font-size: small;
    font-family: sans-serif;
    color: darkgray;
    cursor: pointer;
    padding-left: 7px;
}
.banner{
     color: darkgrey;
     padding-top: 25px;
}
.hed{
    color: cornsilk;
    text-align:center ;
    font-size: 30px;
}
.down{
    text-align: center;
    font-size: 15px;
    color: aliceblue;
    padding-left: 150px; padding-right: 150px; padding-top: 10px
}
.demo{
    align-items: center;
    padding-left:450px ;padding-right:300px ;padding-top: 30px
}
.ref {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px; /* Added border-radius */
}

.ref:hover {
    background-color: #0078d7;
    color: white;
    transform: scale(1.1);
}

.ref:active {
    transform: scale(0.9);
}
input::placeholder {
    color: #757575; /* Light gray color */
    opacity: 1; /* Ensure full opacity */
    font-style: normal; /* Normal font style */
    font-size: 16px; /* Font size similar to Google's */
}
.search {
    padding: 9px;
    background-color: #0e0e0e; /* Light grey background */
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    width: 50%; /* Full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    color: thistle;
}
.search:hover {
    border: 1px solid #0078d7; /* Dark blue border on hover */
    background-color: #0e0e0e;
}